footer {
    display: flex;
    flex-direction: row;
    height: 10vh;
    align-items: center;
    background: #FACB5C;
}
ul {
    list-style: none;
}
p {
    padding: 0 20px;
}
.nav {
    display:flex;
    justify-content: right;
    padding: 0 20px;    
}
.nav a{
    font-family: 'Abel', sans-serif;
    text-decoration: none;
    color:black;

}
.nav a:hover {
    color:#fb2e01;
}
