footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 15vh;
    align-items: center;
    background: #FACB5C;
}

ul {
    list-style: none;
}

p {
    padding: 0 20px;
}

.nav {
    padding: 0 20px;
}