@font-face {
    font-family: 'bodegasans_mediumoldstyleRg';
    src: url('../assets/fonts/bodegasansmediumoldstyle-webfont.woff2') format('woff2'),
         url('../assets/fonts/bodegasansmediumoldstyle-webfont.woff') format('woff'),
         url('../assets/fonts/bodegasansmediumoldstyle-webfont.ttf') format('tff');
    font-weight: normal;
    font-style: normal;
  }

header {
    font-family: 'bodegasans_mediumoldstyleRg';
        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 1px; 
        -webkit-text-stroke-color: black;
    background: #FFEEAD;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

h1 {
    font-size: 70px;
    text-align: center;
    letter-spacing: 1px;
    margin: 0px;
}

span {
    -webkit-text-fill-color: #fb2e01;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: black;
}