section.player{
    position:relative;
    margin-top: 50px;
    padding: 0;
    cursor: pointer;
}

.tone-arm {
        position: absolute;
        display: block;
        width: 40px;
        height: 60px; 
        border-radius: 20px 20px 60px 60px;
        background:#c7cf97;
        top: 25px;
        z-index: 5;
        
}
.stylus{
    position: absolute;
    background-color: #89d9b2;
    height: 175px;
    width: 10px;
    top:55px;
    left:15px;
    z-index:5;
    
    
}
.player-mechanics{
    position:absolute;
    width: 300px;
    height:300px;
    top:-30px;
    left: calc(49% - 172.5px);   
    z-index:5;
}
.player-mechanic-on {
    animation-name: tonearm;
    animation-duration: 1085ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: forward;
} 
.vinyl-record{
    width: 345px;
    height: 345px;
    border-radius: 50%;
    background: 
    linear-gradient(30deg, transparent 40%, rgba(42, 41, 40, .85) 40%) no-repeat 100% 0,
    linear-gradient(60deg, rgba(42, 41, 40, .85) 60%, transparent 60%) no-repeat 0 100%,
    repeating-radial-gradient(#2a2928, #2a2928 4px, #ada9a0 5px, #2a2928 6px);
    background-size: 50% 100%, 100% 50%, 100% 100%;
    z-index: 6;

}
.spinning {
    animation-name: spin;
    animation-duration: 1085ms;
    animation-iteration-count: 4.15s;
    animation-timing-function: linear; 
    animation-fill-mode: forwards;
    animation-direction: forward;
}
@keyframes  tonearm {
    0% {
    transform:rotate( 0deg);

    }
    10% {
        transform:rotate(-25deg);
        transform-origin: top left;
        top: -50px;
    }
    90% {
        transform:rotate(-25deg);
        transform-origin: top left;
        top:-50px;
    }
    100% {
        transform:rotate(-0deg);
        transform-origin: top left;
        top: 0px;
        }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.vinyl-record-inner {
    position:absolute;
    display:flex;
    align-items: center;
    top:calc(50% - 57.5px);
    left:calc(50% - 57.5px);
    z-index: 5;
    width: 115px;
    height: 115px;
    border-radius: 57.5px;
    background: #fc6d6c;
    
}
img {
    display:block;
    width:50%;
    filter:invert(100%);
    margin: 0 auto;
}