main {
  background-color: #6fcb9f;
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2, h3 {
  text-align: center;
}

.player-score {
  border: dashed #fb2e01;
  width: 500px;
  margin: auto;

}

.top-ten {
  border: solid #fb2e01;
  width: 500px;
  margin: auto;
}

tr {
  text-align: center;
}

.play-again a  {
  text-decoration: none;
  display: flex;
  color: #fffeb3;
}

.play-again {
  padding: 25px 15px;
  max-width: 50px;
  background-color:#fb2e01;
  border-radius: 100%;
  font-weight: bold;
  justify-content: center;
}

table thead td {
  font-weight: bolder;
  background: white;
  color:black;
}

table td {
  padding: 8px 8px;
  text-align: right;
}

table {
  width: 100%;
  min-width: 400px;
  max-width: 700px;
  border-collapse: collapse;
}