main {
  background: #FFEEAD;
  font-family: 'Abel', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

h2, h3 {
  text-align: center;
  font-size: 27px;
  margin: 0px;
}

.player-score {
  margin: auto;
  font-family: 'VT323', monospace;
  margin-top: 40px;
}

table {
  border-collapse: collapse;
  width: 100%;

}
td, th {
  border: 1px solid #666547;
  text-align: left;
  padding: 15px;

}


.play-again a  {
  text-decoration: none;
  display: flex;
  color: #fffeb3;
}
.play-again {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 60px;
  border-radius: 40px;
  margin: 40px;
  background-color:#fb2e01;
  
}
p {
  margin-top: 15px;
  font-family: 'VT323', monospace;
  font-size: 7em;
  margin-bottom: 60px;
  text-align: center;
}
.top-ten-results {
  font-family: 'VT323', monospace;
  font-size: 30px;
}
th {
  font-family: 'VT323', monospace;
  font-size: 30px;
  color:#fb2e01;
}